:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 30px;
  height: 100%;
  min-width: 25vw;
  padding: 30px 30px 10px;
  background: cornflowerblue;
  border-radius: 4px;
}
