<div
  *ngIf="(symbols$ | async) as symbols"
  class="main"
>
  <mat-form-field appearance="outline">
    <mat-label>Currency 1</mat-label>
    <input
      #currency1
      [value]="(currency1Amount$ | async)"
      matInput
      placeholder="Input amount"
      (input)="setCurrency1Amount(list1Symbol, list2Symbol, currency1.value)"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Currency 2</mat-label>
    <input
      #currency2
      [value]="(currency2Amount$ | async)"
      matInput
      placeholder="Input amount"
      (input)="setCurrency2Amount(list2Symbol, list1Symbol, currency2.value)"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>List of currencies 1</mat-label>
    <mat-select
      [(value)]="list1Symbol"
      placeholder="Select currency"
      (valueChange)="convertCurrency(list1Symbol, list2Symbol, currency1.value)"
    >
      <mat-option
        *ngFor="let symbol of symbols"
        [value]="symbol"
      >
        {{symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>List of currencies 2</mat-label>
    <mat-select
      [(value)]="list2Symbol"
      placeholder="Select currency"
      (valueChange)="convertCurrency(list2Symbol, list1Symbol, currency2.value)"
    >
      <mat-option
        *ngFor="let symbol of symbols"
        [value]="symbol"
      >
        {{symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
